* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #e5ecf0;
}

.notes-page {
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
}

.notes-page header {
  max-width: 1920px;
  min-height: 100px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #1280c5;
}

a {
  text-decoration: none;
  color: black;
}

.notes-page header .logo {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.notes-page header ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}

.notes-page header ul li a {
  text-transform: uppercase;
  opacity: 0.7;
}

.notes-page header ul li a:hover {
  opacity: 1;
}

.notes-page section {
  width: 100%;

  padding: 20px 0;
}

.note-wrapper {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.card {
  width: 300px;
  /*box-shadow: 0 0 5px #FFFFFF;*/
  background-color: #ffffff;
  padding: 10px;
  position: relative;
  color: black;
  margin: 15px;
  cursor: pointer;
}

.card .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 900;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
}

.card h4 {
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .text-wrapper {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  margin: 10px 0;
  color: black;
}

.card .date {
  text-align: right;
  color: #1280c5;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.login-head {
  background-color: #1280c5;
  padding: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.create-note {
  max-width: 500px;
  width: 100%;
  margin: auto;
  border: 1px solid #1280c5 !important;
  padding: 30px;
}

.create-note h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
  color: #1280c5;
}

.create-note h1 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.create-note .row {
  width: 100%;
  margin: 10px 0;
}

.create-note input,
.create-note button {
  width: 100%;
  height: 40px;
  padding: 0 5px;
}

.create-note label {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #1280c5;
}

.create-note textarea {
  width: 100%;
  resize: none;
  padding: 0 5px;
}

.create-note button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: #1280c5;
}

@media (max-width: 5000px) {
  .create-note {
    padding: 15px;
    border: 5px solid #ccc;
  }
}

.login-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.login input,
.register input {
  margin-bottom: 15px;
}

.login,
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1280c5;
}

.login-page h2,
.login-page h3 {
  color: #fff8;
}

.login-page h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.login-page p {
  margin: 10px 0;
  color: white;
}

.login-page span {
  background-color: white;
  color: #1280c5;
  padding: 5px;
  margin-left: 3px;
  border-radius: 3px;
  transition: all 0.2s ease-out;
}

.login-page span:hover {
  font-weight: 500;
  cursor: pointer;
}
